<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public</title>
  </head>
  <body>
    <header>
      <nav>
        {% if current_user %}
          <div>
            <form action="/sign-out" method="post">
              <button type="submit">Sign Out</button>
            </form>
          </div>
        {% else %}
          <div>
            <a href="/sign-in">Sign In</a>
          </div>
          <div>
            <a href="/sign-up">Sign Up</a>
          </div>
        {% endif %}
      </nav>
    </header>
    <h1>This page is public</h1>
    {% if current_user %}
      <p>User Id: {{ current_user.user_id }}</p>
    {% else %}
      <p>Welcome guest!</p>
    {% endif %}
  </body>
</html>
